*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg{
    height: 100vh;
    width: 100%;
    background-image: url(./moon.jpg);
    background-size: cover;
}

h1{
    color: #fff;
    font-size: 100px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)
}